.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
    /* Pantone's Astral Aura */
    color: #2D2C4D;
}

.content a {
    color: rgb(76, 74, 137) !important;
}

.content figcaption {
    padding-bottom: 4em;
    text-align: center;
    font-size: smaller;
}

.content figcaption p {
    text-align: center !important;
}

.content figure {
    text-align: center !important;
}
